.header {
    background-color: rgba(46, 46, 146, 0.748);
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 1280px) {
        width: 1215px;
    }
}

.logo {
    font-size: 24px;
    color: beige;
}

.list {
    display: flex;
    gap: 10px;
}

.link {
    font-size: 16px;
    color: beige;
}